.app-footer {
  background-color: $primary-color;
  color: $white;
  padding: 40px 20px;
  height: fit-content;
  text-align: start;
  // padding: 1em $side-padding;

  .underline-animation {
    &::before {
      height: 1px;
      background-color: $white;
    }
  }

  a {
    text-decoration: none !important;
    width: fit-content;
  }

  &.dark-mode {
    background-color: $very-dark-gray;
    color: $neutral-gray;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, 1fr);

    align-items: start;
    gap: 2rem;
    width: 100%;
    padding: 0 $side-padding;

    @media (max-width: $medium-breakpoint) {
      padding: 0 1rem;
    }

    @media (max-width: $narrow-breakpoint) {
      display: grid;
      justify-self: center;

      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
      width: 100%;
      max-width: 640px;
      gap: 0rem;

      .footer-logo {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        width: 100%;
      }

      .divider {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        justify-self: stretch;
      }
      .footer-cta {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 3/ 4;
        margin-bottom: 2rem;
      }
      .footer-links {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        margin-bottom: 2rem;
      }
      .footer-socials {
        grid-column: 1 / -1;
        grid-row: 5 / 6;
        margin-bottom: 2rem;
      }
    }
  }

  .footer-logo {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img {
      max-width: 180px;
      width: 100%;
      height: auto;
    }
    @media (max-width: $narrow-breakpoint) {
      justify-content: flex-start;
      img {
        max-width: 120px;
      }
    }
  }

  .footer-cta {
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    display: grid;
    gap: 1.5rem;
    .footer-title {
      margin: 0;
      font-size: 1.4rem;
    }

    .custom-button {
      width: fit-content;
      padding: 10px 16px;
      border-radius: 8px;
    }

    .footer-contact {
      display: grid;
      gap: 0.5rem;
      .contact-row {
        display: flex;
        align-items: center;
        gap: 8px;

        &:first-of-type {
          align-items: flex-start;
          margin-bottom: 1rem;
        }
        a,
        span {
          color: inherit;
        }
        svg {
          font-size: 20px;
        }
      }
    }
  }
  .footer-socials {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: end;
    display: flex;
    gap: 16px;
    .social-icon {
      cursor: pointer;
      svg {
        font-size: 28px;
      }
    }
  }

  .divider {
    opacity: 0.4;
    border-color: rgba(255, 255, 255, 0.4);
    @media (max-width: $narrow-breakpoint) {
      display: none;
    }
  }

  .MuiAccordionSummary-root {
    margin-bottom: 1rem;
    width: 100%;
  }

  .MuiAccordionSummary-content {
    font-size: 2rem;

    font-weight: 700 !important;
  }

  .MuiAccordionSummary-expandIconWrapper {
    color: $white !important;
  }

  .footer-links {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    width: 100%;

    .links-title {
      margin-bottom: 1.5rem;
      font-size: 1.4rem;
    }

    .links-grid {
      display: grid;
      // grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      grid-template-columns: repeat(2, 1fr);
      gap: 12px 24px;
      @media (max-width: $narrow-breakpoint) {
        grid-template-columns: 1fr;
        margin-bottom: 1rem;
      }
    }

    .footer-link {
      color: $white;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // Transparent accordion
  .footer-accordion {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    color: inherit;
    .MuiAccordionSummary-root {
      padding: 0;
      min-height: unset;
    }
    .MuiAccordionSummary-content {
      margin: 0;
    }
    .MuiAccordionDetails-root {
      padding: 0;
    }
  }

  .desktop-only {
    @media (max-width: $narrow-breakpoint) {
      display: none !important;
    }
  }

  .mobile-only {
    display: none;
    @media (max-width: $narrow-breakpoint) {
      display: block;
    }
  }
}
