.quick-services-container {
  position: fixed;
  top: calc($header-height-desktop + 100px);
  left: 0;
  //   width: 100%;
  //   height: 100%;
  width: 200px;
  //   height: 400px;
  background-color: $white;
  z-index: 1000;

  display: grid;
  gap: 1rem;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  padding: 1rem;
  color: $primary-color;

  &.en {
    left: auto;
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  @media (min-width: $mobile-width) {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      margin-bottom: 0;
    }
  }

  .quick-services-list {
    display: grid;
    gap: 1rem;

    .quick-service-item-container {
      &:last-of-type {
        .divider {
          display: none;
        }
      }
    }

    .quick-service-item {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }
  }
}
