.news-card {
  // justify-self: start;
  display: grid;
  grid-template-columns: auto 250px;
  gap: 1rem;
  text-align: start;
  align-items: center;
  height: fit-content;
  border-radius: 6px;
  overflow: hidden;

  &:first-of-type {
    grid-template-columns: 1fr;
    position: relative;
    align-self: start;

    .media {
      img,
      iframe {
        z-index: 1;
        width: 100%;
        object-fit: cover;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 90%);
      }
    }

    .content {
      position: absolute;

      bottom: 0;
      left: 0;
      width: 100%;
      color: $white;

      padding: 1rem;
    }

    a {
      color: $white !important;

      &::before {
        background-color: $white !important;
      }
    }
  }

  img,
  iframe {
    aspect-ratio: 204 / 140;
    object-fit: cover;
    border-radius: 6px;
    min-width: 204px;

    @media (max-width: $narrow-breakpoint) {
      // width: 127px;
      min-width: unset;
    }
  }

  .content {
    h4 {
      margin-bottom: 0rem;
    }
    .summary-container {
      display: flex;
      height: fit-content;
      justify-content: space-between;
      gap: 3px;
    }
    .summary {
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0px;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      // max-width: 80%;
    }
    a {
      color: $secondary-color;

      &::before {
        height: 1px;
        background-color: $secondary-color;
      }
    }
  }
}
