.news-card {
  // justify-self: start;
  display: grid;
  grid-template-columns: auto 250px;
  gap: 1rem;
  text-align: start;
  align-items: center;
  height: fit-content;

  &:first-of-type {
    grid-template-columns: 1fr;
    position: relative;
    align-self: start;

    .media {
      img {
        z-index: 1;
        width: 100%;
        object-fit: cover;

        background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 90%);
      }
    }

    .content {
      position: absolute;

      bottom: 0;
      left: 0;
      width: 100%;
      color: $white;

      padding: 1rem;
    }

    a {
      color: $white !important;

      &::before {
        background-color: $white !important;
      }
    }
  }

  img {
    aspect-ratio: 204 / 140;
    object-fit: cover;
    min-width: 204px;
    border-radius: 6px;

    @media (max-width: $narrow-breakpoint) {
      width: 127px;
    }
  }

  .content {
    .summary-container {
      display: flex;
      height: fit-content;
      justify-content: space-between;
      gap: 3px;
      max-width: 70%;
      text-overflow: ellipsis;
      text-wrap: nowrap;

      a {
        color: $secondary-color;

        &::before {
          background-color: $secondary-color;
        }
      }
    }
    .summary {
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0px;
    }
  }
}
