.news-card {
  // justify-self: start;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  text-align: start;
  align-items: center;
  height: fit-content;
  border-radius: 6px;
  overflow: hidden;
  line-height: 1.2;

  &:first-of-type {
    grid-template-columns: 1fr;
    position: relative;
    align-self: start;
    max-width: 840px;

    @media (max-width: $narrow-breakpoint) {
      margin: 0 auto;
    }

    time {
      color: $white !important;
    }
    h4 {
      color: $white !important;
      font-size: 2.5rem !important;
    }

    .media {
      img,
      iframe {
        z-index: 1;
        width: 100%;
        object-fit: cover;
        max-width: unset;
        max-height: unset;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          315deg,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }

    .content {
      position: absolute;

      bottom: 0;
      left: 0;
      width: 100%;
      color: $white;

      padding: 2rem 3rem;
    }

    p {
      font-size: 1.2rem;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      max-width: 100% !important;
    }

    a {
      font-size: 1.2rem;
      color: $white !important;

      &::before {
        background-color: $white !important;
      }
    }
  }

  img,
  iframe {
    aspect-ratio: 204 / 140;
    object-fit: fill;
    width: 100%;
    max-height: 140px;
    max-width: 204px;

    border-radius: 6px;
    min-width: 204px;

    @media (max-width: $narrow-breakpoint) {
      // width: 127px;
      // min-width: unset;
    }
  }

  .content {
    time {
      opacity: 0.5;
      color: $primary-color;
    }
    h4 {
      margin-bottom: 0rem;
      color: $primary-color;
      font-size: 1.2rem;
    }
    .summary-container {
      display: flex;
      height: fit-content;
      justify-content: space-between;
      gap: 3px;
    }
    .summary {
      max-width: 80%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; // number of lines to show
      line-clamp: 2; // future-proofing
      white-space: normal;
      overflow-wrap: anywhere;
    }
    p {
      margin-bottom: 0px;
    }
    a {
      color: $secondary-color;

      &::before {
        height: 1px;
        background-color: $secondary-color;
      }
    }
  }
}
