.fade-carousel-container {
  position: relative;

  .swiper {
    width: 100%;
    height: 100%;
    position: relative;

    .swiper-slide {
      position: relative;
      background-position: center;
      background-size: cover;

      &::before {
        content: '';
        pointer-events: none;
        position: absolute;

        z-index: 2;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        background: linear-gradient(
          -274.2deg,
          #000 0.14%,
          rgba(0, 0, 0, 0.11) 115.32%,
          rgba(0, 0, 0, 0) 138.32%
        );
        opacity: 0.4;
      }

      img:not(.agriculture-sticker) {
        display: block;
        width: 100%;
        aspect-ratio: 1920 / 620;
        object-fit: cover;
        min-height: 382px;

        @media (max-width: $mobile-width) {
          height: calc(120vw);
        }
      }

      .text-container {
        // width: fit-content;
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0 160px;

        padding: 20px;
        // padding: 20px;

        display: grid;
        align-items: center;

        text-align: start;
        z-index: 100;
        color: $white;

        @media (max-width: 1370px) {
          margin: 0;
        }

        .hs-container {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          min-height: 266px;

          .agriculture-sticker {
            // width: 116px;
            width: fit-content;
            object-fit: cover;
            height: 56px;
            justify-self: start;
            object-fit: contain;
          }
          h2 {
            font-size: clamp(2.2rem, 3vw, 60px);
            line-height: 1;
            margin-bottom: 0rem;
          }
          h3 {
            font-size: clamp(1.8rem, 3vw, 40px);

            line-height: 1;
            margin-bottom: 0.3rem;
          }
          h4 {
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 1;
            margin-bottom: 0.3rem;
          }
          .custom-button {
            margin-top: 0.5rem;
            justify-self: start;
            width: fit-content;
          }
        }
      }
    }
  }
  .pagination-container {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $white;
      opacity: 1;
      cursor: pointer;
      transition: 0.4s ease all;

      &.swiper-pagination-bullet-active,
      &:hover {
        background-color: $secondary-color;
      }
    }
    .play-button {
      fill: $white;
    }
  }
}
