.fade-carousel-container {
  position: relative;

  .swiper {
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
      content: '';
      pointer-events: none;
      position: absolute;
      z-index: -1;
      z-index: 2;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      background: linear-gradient(
        -274.2deg,
        #000 0.14%,
        rgba(0, 0, 0, 0.11) 115.32%,
        rgba(0, 0, 0, 0) 138.32%
      );
      opacity: 0.4;
    }

    .swiper-slide {
      position: relative;
      background-position: center;
      background-size: cover;

      img {
        display: block;
        width: 100%;
        aspect-ratio: 48 / 19.5;
        object-fit: cover;
      }

      .text-container {
        position: absolute;
        z-index: 3;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        color: $white;
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
  .pagination-container {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $white;
      opacity: 1;
      cursor: pointer;
      transition: 0.4s ease all;

      &.swiper-pagination-bullet-active,
      &:hover {
        background-color: $secondary-color;
      }
    }
    .play-button {
      fill: $white;
    }
  }
}
