.fade-carousel-container {
  position: relative;
  .swiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      background-position: center;
      background-size: cover;

      img {
        display: block;
        width: 100%;
        aspect-ratio: 48 / 19;
        object-fit: cover;
      }
    }
  }
  .pagination-container {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 10px;
  }
}
