.agriculture-gallery-container {
  background: linear-gradient(180deg, rgba(240, 238, 244, 0) 0%, #f0eef4 100%);
  position: relative;

  padding: 120px 0;

  .content-container {
    display: grid;
    padding: 1em 150px;
    grid-template-columns: auto 1fr;
    justify-items: center;
    gap: 30px;
    z-index: 2;
    // padding: 0 30px;

    position: relative;
    @media (max-width: $narrow-breakpoint) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 100px;
      padding: 1em;
      //   width: fit-content;
      justify-self: center;
      margin: 0 auto;
      gap: 50px;
    }

    .text-container {
      z-index: 2;
      position: relative;
      text-align: start;
      justify-self: center;
      //   width: 80%;
      //   width: auto;
      max-width: 480px;

      @media (max-width: $narrow-breakpoint) {
        justify-self: start;
      }
    }

    .imgs-container {
      z-index: 2;
      justify-self: start;
      display: grid;

      grid-auto-flow: column;
      justify-items: center;
      gap: 30px;

      .img-container {
        background-color: $white;
        width: fit-content;
        width: 320px;
        padding: 1rem;
        padding-bottom: 5px;
        border-radius: 3px;
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
        position: relative;

        &:nth-of-type(even) {
          bottom: 3rem;
        }
        img {
          width: 320px;

          object-fit: cover;
        }

        .text-container {
          justify-self: start;
          h3 {
            margin-bottom: 0;
          }
        }

        @media (max-width: $narrow-breakpoint) {
          padding-bottom: 1rem;
          h3 {
            display: none;
          }
        }
      }
    }

    .pale-logo {
      position: absolute;

      z-index: 1;
      bottom: auto;
      //   bottom: 0;

      object-fit: cover;
      right: -10px;
      right: 0;
      transform: translate(0, 50%);

      @media (max-width: $narrow-breakpoint) {
        width: 123px;
        right: -50px;
        transform: translate(0, 20%);
      }
    }
  }

  .background-img {
    position: absolute;

    left: 0;
    bottom: 0;
  }
}
