.gallery-imgs-container {
  display: grid;
  grid-auto-flow: column;

  .img-container {
    text-align: start;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 35px;

    &:first-of-type {
      .text-container::before {
        display: none;
      }
    }

    .text-container {
      position: relative;
      color: $primary-color;
      margin: 30px 37px 5px;
      h3 {
        font-size: 2.3rem;
        line-height: 1;
        margin-bottom: 0;
        opacity: 0.3;
      }
      h4 {
        font-size: 1.8rem;
        line-height: 1;
        margin-bottom: 0;
        position: relative;

        span {
          position: absolute;
          top: 5px;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 2px;
        height: 100%;
        right: -37px;

        background-color: $primary-color;
        opacity: 0.2;
      }

      &.en {
        &::before {
          right: auto;
          left: -37px;
        }
      }
    }

    img {
      width: 100%;
      height: 305px;
      object-fit: cover;
    }
  }
}
