.home-container {
  .gallery-title {
    font-size: 2.3rem;
    line-height: 1;
    background: linear-gradient(to bottom, #f0eef4 0%, $white 100%);
    // background: linear-gradient(to bottom, #5c18e2 0%, #ffffff 100%);

    padding: 50px 0 70px;
    color: $primary-color;
  }
}
