.home-container {
  h3 {
    font-size: 2.3rem;
  }
  .gallery-title {
    font-size: 2.3rem;
    line-height: 1;
    background: linear-gradient(to bottom, #f0eef4 0%, $white 100%);

    padding: 50px 0 70px;
    color: $primary-color;
  }
}
