:root {
  --header-height-desktop: 98px;
  --header-height-narrow: 74px;
  --narrow-width: 1200px;
}

$primary-color: #452a7a;
$primary-color-light: #5b37a2;
$primary-color-dark: #3d256d;
$transparent-primary-color: rgba(69, 42, 122, 0);

$secondary-color: #0ab285;
$secondary-color-dark: #068462;

// Shades of font

$medium-font-gray: #444444;
$dark-font-gray: #333333;

$white: #ffffff;

// Shades of Gray
$light-gray: #e0e0e0;
$medium-gray: #9e9e9e;
$dark-gray: #424242;
$very-dark-gray: #1d1d1d;

$neutral-gray: #f5f5f5;

$header-height-desktop: var(--header-height-desktop);
$header-height-narrow: var(--header-height-narrow);

$medium-breakpoint: 1470px;

$narrow-width: var(--narrow-width);
$narrow-breakpoint: 1200px;

$mobile-width: 768px;

$side-padding: 150px;
