:root {
  --header-height-desktop: 98px;
  --header-height-mobile: 120px;
  --mobile-width: 1200px;
}

$primary-color: #452a7a;

$secondary-color: #0ab285;

// Shades of font

$medium-font-gray: #444444;
$dark-font-gray: #333333;

$white: #ffffff;

// Shades of Gray
$light-gray: #e0e0e0;
$medium-gray: #9e9e9e;
$dark-gray: #424242;
$very-dark-gray: #1d1d1d;

$neutral-gray: #f5f5f5;

$header-height-desktop: var(--header-height-desktop);
$header-height-mobile: var(--header-height-mobile);

$mobile-width: var(--mobile-width);
