.news-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  justify-items: center;
  margin-top: 2rem;
  // padding-inline-start: 150px;
  h3 {
    text-align: start;
    justify-self: start;
  }

  .custom-button {
    justify-self: end;
  }

  @media (max-width: $narrow-breakpoint) {
    gap: 0px;
    h3 {
      grid-column: 1/-1;
      justify-self: center;
      margin-bottom: 0.5rem !important;
    }

    .custom-button {
      grid-column: 1/-1;
      grid-row: 3/4;
      justify-self: center;
      margin-bottom: 2rem;
    }
  }
  // max-width: 1470px;

  @media (min-width: $narrow-breakpoint) {
    padding: 1em 150px;
  }

  .news-title {
    margin: 0;
  }

  .news-list {
    grid-column: 1/-1;
    display: grid;
    gap: 0rem 2rem;
    justify-self: stretch;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $narrow-breakpoint) {
      display: block;
      padding: 1em;
      article {
        margin-bottom: 2rem;
      }
    }

    .news-card {
      &:first-of-type {
        grid-column: 1/2;
        grid-row: 1/-1;
        @media (min-width: $narrow-breakpoint) {
          justify-self: stretch;
        }

        @media (max-width: $narrow-breakpoint) {
          grid-column: 1/2;
          grid-row: 1/2;
        }
      }
    }
    // gap: 20px;
  }
}
