.news-container {
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  justify-items: center;
  padding: 1em 150px;

  .news-title {
    margin: 0;
  }

  .news-list {
    display: grid;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: $narrow-breakpoint) {
      grid-template-columns: 1fr;
    }

    .news-card {
      &:first-of-type {
        grid-column: 1/3;
        grid-row: 1/-1;
        @media (max-width: $narrow-breakpoint) {
          grid-column: 1/2;
          grid-row: 1/2;
        }
      }
    }
    // gap: 20px;
  }
}
