.header {
  background-color: $white;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: $header-height-desktop;
  nav {
    ul {
      margin: 0px;
      //   display: flex;
      //   justify-content: space-between;

      li {
        // padding: 1em;
        cursor: pointer;
      }
    }
  }
}
