.header {
  background-color: $white;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: $header-height-desktop;

  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;

  .logo-img {
    margin-inline: 1.5rem;

    height: 100%;
    max-height: $header-height-desktop;
    width: auto;
    display: block;
    object-fit: contain;
  }

  .navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;

    nav {
      ul {
        margin: 0px;
        display: flex;
        gap: 1.5em;

        li {
          // padding: 1em;
          cursor: pointer;
          a {
            color: $primary-color;
            font-size: 1.2rem;
          }
        }
      }
    }

    .settings-container {
      display: flex;
      align-items: center;

      gap: 3em;
      color: $primary-color;

      .language-picker-container {
        font-size: 1.2rem;
      }

      .icon {
        cursor: pointer;
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }

  .profile-container {
    background-color: $secondary-color;
    height: 100%;
    max-width: 284px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.2rem;
    margin-inline-start: 0.8rem;

    gap: 10px;

    color: $white;

    span {
      font-size: 18px;
      font-weight: 600;
    }

    .profile-icon {
      height: 1.8rem;
      width: 1.8rem;
    }
  }
}
