.news-banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  z-index: 2;
  color: $white;
  text-align: start;

  padding: 0.6rem 1rem;

  background: -webkit-linear-gradient(
    right,
    #452a7a 40.05%,
    rgba(69, 42, 122, 0) 100%
  );

  &.en {
    background: -webkit-linear-gradient(
      left,
      #452a7a 40.05%,
      rgba(69, 42, 122, 0) 100%
    );
  }
}
