.news-banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  z-index: 2;

  background-color: $secondary-color;
  color: $white;
  text-align: center;
  padding: 0.6rem 1rem;

  &__text {
    font-weight: 600;
  }
}
