.news-banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  display: flex;
  gap: 1.2rem;

  z-index: 2;
  color: $white;
  text-align: start;

  padding: 0.6rem 1rem;
  padding-inline-start: 3rem;

  background: -webkit-linear-gradient(
    right,
    $primary-color 40.05%,
    $transparent-primary-color 100%
  );

  &.en {
    background: -webkit-linear-gradient(
      left,
      $primary-color 40.05%,
      $transparent-primary-color 100%
    );
  }

  @media (max-width: $mobile-breakpoint) {
    background: $primary-color;
    padding-inline-start: 0.6rem;
  }

  .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      // top: 0;
      // left: 0;
      margin-inline-start: 1rem;
      width: 2px;
      height: 1rem;
      // background-color: $white;
    }
  }

  .divider {
    background-color: $white;
    width: 2px;

    height: 1rem;
    align-self: center;
  }

  .message {
    &.right {
      direction: ltr;
    }
    &.left {
      direction: rtl;
    }
  }
}
