@import 'setup/variables.scss';
@import 'setup/mixins.scss';
@import 'setup/typography.scss';

@import 'basics/helpers.scss';
@import 'basics/layout.scss';
@import 'basics/base.scss';
@import 'basics/forms.scss';

// pages
@import 'App.scss';

@import '../../pages/Home/styles/Home.scss';
@import '../../pages/Home/styles/GalleryImgs.scss';
@import '../../pages/Home/styles/AgricultureGallery.scss';

@import '../../components/AppHeader/styles/AppHeader.scss';
@import '../../components/AppFooter/styles/AppFooter.scss';

@import '../../components/ShadowOverlay/styles/ShadowOverlay.scss';
@import '../../components/DropdownMenu/styles/DropdownMenu.scss';
@import '../../components/LanguagePicker/styles/LanguagePicker.scss';
@import '../../components/NewsBanner/styles/NewsBanner.scss';
@import '../../components/FadeCarousel/styles/FadeCarousel.scss';
@import '../../components/CustomButton/styles/CustomButton.scss';
@import '../../components/News/styles/News.scss';
@import '../../components/News/NewsCard/styles/NewsCard.scss';
@import '../../components//QuickServices/styles/QuickServices.scss';
@import '../../components//FloatingButtonsContainer/styles/FloatingButtonsContainer.scss';
@import '../../components//FloatingButton/styles/FloatingButton.scss';
