@import 'setup/variables.scss';
@import 'setup/mixins.scss';
@import 'setup/typography.scss';

@import 'basics/helpers.scss';
@import 'basics/layout.scss';
@import 'basics/base.scss';
@import 'basics/forms.scss';

// pages
@import 'App.scss';

@import '../../pages/Home/styles/Home.scss';

@import '../../components/AppHeader/styles/AppHeader.scss';
@import '../../components/AppFooter/styles/AppFooter.scss';

@import '../../components/ShadowOverlay/styles/ShadowOverlay.scss';
@import '../../components/DropdownMenu/styles/DropdownMenu.scss';
@import '../../components/LanguagePicker/styles/LanguagePicker.scss';
