.floating-button-container {
  position: relative;
  //   width: 50px;
  //   height: 50px;
  border-radius: 50%;
  background-color: $white;

  padding: 1rem;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.4s ease all;
  &.primary {
    background-color: $primary-color;
    &:hover {
      background-color: $primary-color-light;
    }
  }
  &.secondary {
    background-color: $secondary-color;
    &:hover {
      background-color: $secondary-color-dark;
    }
  }
}
